*.pyc
*.png
AssetBundles/**
!AssetBundles/painting
!AssetBundles/painting/aijiang
!AssetBundles/painting/aijiang_tex
!AssetBundles/painting/ankeleiqi
!AssetBundles/painting/ankeleiqi_tex
!AssetBundles/painting/ankeleiqi_jz1_tex
!AssetBundles/painting/ankeleiqi_rw_tex
!AssetBundles/painting/ankeleiqi_jz2_tex
!AssetBundles/painting/ankeleiqi_tx3_tex
!AssetBundles/paintingface
!AssetBundles/paintingface/aijiang
!AssetBundles/paintingface/ankeleiqi
output/**
!output/aijiang.png
!output/ankeleiqi.png
venv
painting_reconstruct.py
