*.pyc
*.png
input/**
!input/painting
!input/painting/aijiang
!input/painting/aijiang_tex
!input/painting/ankeleiqi
!input/painting/ankeleiqi_tex
!input/painting/ankeleiqi_jz1_tex
!input/painting/ankeleiqi_rw_tex
!input/painting/ankeleiqi_jz2_tex
!input/painting/ankeleiqi_tx3_tex
!input/paintingface
!input/paintingface/aijiang
!input/paintingface/ankeleiqi
output/**
!output/aijiang.png
!output/ankeleiqi.png
venv
painting_reconstruct.py
